<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="cliente-modulo">
      <p-card header="Clientes" subheader="Gestión de clientes"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/rol/imagen-principal.png" alt="card-roles" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="grupo-modulo">
      <p-card header="Grupo" subheader="Gestión de grupos" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/grupo/imagen-principal.png" alt="card-roles" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>


  <div class="col-4 cards-menu">
    <a routerLink="contrato-modulo">
      <p-card header="Contratos" subheader="Gestión de contratos"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/contrato/imagen-principal.png" alt="card-roles" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="plan-modulo">
      <p-card header="Plan" subheader="Gestión de Planes" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/plan/image.png" alt="card-roles" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

</div>



