<div class="espaciador"></div>
<p-breadcrumb [model]="items"></p-breadcrumb>

<div class="espaciador"></div>

<div class="row">
  <div class="col-3 cards-menu">
    <a routerLink="historico-rol-modulo/informe-provisiones">
      <p-card header="Provisiones" subheader="Informe de provisiones" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/historico-rol/image.png" alt="card-provisiones" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-3 cards-menu">
    <a routerLink="cargo-vacacion-modulo/informe-vacaciones">
      <p-card header="Informe de vacaciones" subheader="Vacaciones" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/cargo-vacacion/image.png" alt="card-agencias" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-3 cards-menu">
    <a routerLink="periodo-laboral-modulo/informe-rol-ingresos">
      <p-card header="Reporte de rol de ingresos" subheader="Ingresos" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/rol-pago/image.png" alt="card-informe-rol-ingresos" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-3 cards-menu">
    <a routerLink="periodo-laboral-modulo/informe-rol-egresos">
      <p-card header="Reporte de rol de egresos" subheader="Egresos" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/ingresos-descuentos-fijos/image-descuentos.png" alt="card-informe-rol-egresos"
            class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>


  <div class="col-3 cards-menu">
    <a routerLink="pagos2/reporte-dec-cuarto">
      <p-card header="Reporte de décimo cuarto" subheader="Décimo cuarto" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/decimos/image-14.png" alt="card-informe-dec-cuarto" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-3 cards-menu">
    <a routerLink="pagos2/reporte-dec-tercero">
      <p-card header="Reporte de décimo tercero" subheader="Décimo tercero" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/decimos/image-13.png" alt="card-informe-dec-tercero" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-3 cards-menu">
    <a routerLink="pagos2/reporte-utilidades">
      <p-card header="Utilidades" subheader="Reporte general de utilidades" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="../../../assets/pagos2/reporte-utilidades.png" alt="card-reportes-utilidades" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-3 cards-menu">
    <a routerLink="prestamo-modulo/informe-prestamo">
      <p-card header="Préstamos" subheader="Informe préstamos"
        styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/prestamo/imagen.png" alt="card-informe-prestamos" class="imagen-card">
        </ng-template>
      </p-card>

    </a>
  </div>
</div>