@import 'forms/input-number';
.separador{
  border-bottom: 1px solid #6b6b6b;
  margin-top: 15px ;
  margin-bottom: 15px ;
}
.seccion-color{
  color: #6b6b6b;
}

.imagen-icono{
  max-width: 20px;
  max-height: 20px;
}
