<app-route-header
  [title]="'Reporte de décimo tercero'"
  [help]="''"
  [imagePath]="'assets/decimos/image-13.png'"
></app-route-header>

<p-breadcrumb [model]="items"></p-breadcrumb>

<div class="espaciador"></div>
<div class="card-mlab">
  <div class="row">
    <div class="col-sm-10">
      <app-form-container
        [fieldsArray]="searchBarFormFields"
        (fieldChanged)="searchFieldChanged($event)"
        (autoCompleteChangedEmitter)="searchAutoComplete($event)"
      ></app-form-container>
    </div>
    <div class="col-sm-2">
      <button
        type="button"
        class="btn btn-primary btn-sm float-end boton-busqueda"
        [disabled]="confirmarDeshabilitado"
        (click)="buscarYGenerarPdf()"
      >
        Confirmar
      </button>
    </div>
  </div>
</div>
