<div class="card-mlab">

  <div class="row">
    <div class="col-sm-10">
      <app-form-container
        [fieldsArray]="searchBarFormFields"
        (fieldChanged)="searchFieldChanged($event)"
        (autoCompleteChangedEmitter)="searchAutoComplete($event)"
      ></app-form-container>
    </div>
    <div class="col-sm-2">
      <button
        type="button"
        class="btn btn-primary btn-sm float-end boton-busqueda"
        (click)="searchData()"
        [disabled]="searchButtonDisabled"
      >
        Buscar
      </button>
    </div>
  </div>
</div>
<div class="row">
  <br/>
</div>


<div class="row">
  <div class="col-sm-12">
    <p-table
      [value]="tableData"
      [dataKey]="'id'"
      [rows]="startingRows"
      [paginator]="true"
      [lazy]="true"
      (onLazyLoad)="lazyLoad($event)"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="rowsPerPage"
    >

      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="fw-bolder texto-titulo-tabla">Novedades</span>
          <button class="btn btn-sm btn-success float-end" [disabled]="!idRubroRolSeleccionado"
                  (click)="createOrEdit()"> Crear
          </button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Detalles</th>
          <th>Concepto</th>
          <th>Habilitado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-registro let-expanded="expanded">
        <tr
          [class]="registro.sisHabilitado==='A' ? '' : 'back-deshabilitado'">
          <td>
            {{ registro.idTrabajador.idUsuario.nombres}} {{ registro.idTrabajador.idUsuario.apellidos}}
          </td>
          <td>
            <p><b>Unidad:</b>{{ registro.idRubrosRol.unidad|unidad}}</p>
            <p><b>Valor:</b>{{ registro.valor }}</p>
            <p><b>Tipo:</b>{{ registro.tipoNovedad }}</p>

          </td>
          <td>{{ registro.concepto }}</td>
          <td>{{ registro.sisHabilitado === 'A' ? 'Si' : 'No' }}</td>
          <td style="text-align: center">
            <div>

              <button type="button" class="btn btn-sm btn-warning" (click)="createOrEdit(registro)">
                Editar
              </button>
              <div class="espaciador"></div>
              <button type="button"
                      [class]="!(registro.sisHabilitado==='A') ? 'btn btn-sm btn-secondary' : 'btn btn-sm btn-danger'"
                      (click)="confirmChangeEnable(registro.sisHabilitado==='A', registro)">
                {{ !(registro.sisHabilitado === 'A') ? 'Habilitar' : 'Deshabilitar' }}
              </button>

            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-registro>
        <tr>
          <!-- El colspan tiene que ser igual al numero de columnas-->
          <td colspan="5">
            <app-detalle-novedad-rol-pago-perfil [registro]="registro"></app-detalle-novedad-rol-pago-perfil>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <!-- El colspan tiene que ser igual al numero de columnas-->
          <td colspan="5">No hay información.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


