<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="factura-modulo">
      <p-card header="Facturas"
              subheader="Gestión de facturas"
              styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img src="assets/factura/image.png" alt="card-factura" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>


  <div class="col-4 cards-menu">
    <a routerLink="nota-credito-modulo">
      <p-card header="Nota Crédito"
              subheader="Revisión de notas crédito"
              styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img src="assets/nota-credito/imagen.png" alt="card-factura" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

</div>
