<div class="row">
  <!--  <div class="col-4 cards-menu">-->
  <!--    <p-card header="Grupos contables" subheader="Gestión de grupos contables" (click)="navegar(['grupo-contable-modulo'])"-->
  <!--            styleClass="p-card-shadow">-->
  <!--      <ng-template pTemplate="header">-->
  <!--        <img src="assets/grupo-contable/image.png" alt="card-grupos-contables" class="imagen-card">-->
  <!--      </ng-template>-->
  <!--    </p-card>-->
  <!--  </div>-->
  <div class="col-4 cards-menu">
    <a routerLink="cobro-modulo/cuentas-por-cobrar">
      <p-card header="Cuentas por cobrar" subheader="Cuentas por cobrar"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/cobro/image-cuenta.png" alt="card-cuentas-por-cobrar" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="chequera-modulo">
      <p-card header="Chequera" subheader="Gestión de chequeras"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/chequera/image.png" alt="card-chequeras" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="cheque-modulo">
      <p-card header="Cheque" subheader="Gestión de cheques"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/cheque/image.png" alt="card-cheques" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="periodo-contable-modulo">
      <p-card header="Periodo contable" subheader="Gestión de periodos contables"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/periodo-contable/image.png" alt="card-periodo-contable" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="cuenta-contable-modulo">
      <p-card header="Cuenta contable" subheader="Gestión de cuentas contables"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/cuenta-contable/image.png" alt="card-cuenta-contable" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="plan-cuentas-modulo">
      <p-card header="Plan de cuentas" subheader="Gestión de plan de cuentas"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/plan-cuentas/imagen.png" alt="card-plan-cuenta" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="asiento-contable-cabecera-modulo/gestion-asiento-contable-contabilidad">
      <p-card header="Asientos contables" subheader="Gestión de asientos contables"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/asiento-contable-cabecera/imagen-secundaria.png" alt="card-plan-asiento-contable"
               class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="item-cobro-pago-modulo">
      <p-card header="Cuentas por ítem" subheader="Gestión de ítems de cobro y pago"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/item-cobro-pago/imagen.png" alt="card-item-cobro-pago" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="cuenta-contable-modulo/saldo-cuenta">
      <p-card header="Saldos de cuentas" subheader="Gestión de saldos de cuentas"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/saldo-cuenta/image.png" alt="card-saldo-cuenta" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="reportes-contabilidad-menu">
      <p-card header="Reportes" subheader="Reportes"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/reportes/image.png" alt="card-reportes-contabilidad" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="balances-menu">
      <p-card header="Balances" subheader="Balances"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/reportes/image.png" alt="card-balances" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

</div>


