.imagen-previsualizacion{
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.imagen-icono{
  max-width: 20px;
  max-height: 20px;
}
.espacio-tipo-archivo{
  padding-bottom: 10px;
  padding-top: 10px;
}
.ocultar-input-file{
  display: none;
}
.contenedor-archivo{
  display: contents;
}

