<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="detalle-novedad-rol-pago-modulo/detalle-novedad-rol-pago-tipo">
      <p-card header="Novedades por tipo" subheader="Gestión de novedades por tipo"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/detalle-novedad-rol-pago/image-tipo.png" alt="card-novedad-tipo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="detalle-novedad-rol-pago-modulo/detalle-novedad-rol-pago-trabajador">
      <p-card header="Novedades por trabajador" subheader="Gestión de novedades por trabajador"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/detalle-novedad-rol-pago/image-trabajador.png" alt="card-novedad-trabajador"
               class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
</div>
