<h4 mat-dialog-title>Confirme el calculo de utilidades</h4>
<div mat-dialog-content>

    <div class="card">
        <div class="card-body">

            <p>
                <b>Nombre: </b> {{data.nombre}}
            </p>
            <p>
                <b>Fecha último pago: </b> {{data.fechaUltimoPago}}
            </p>

            <p>
                <b>Fecha inicio: </b> {{data.fechaInicio}}
            </p>

            <p>
                <b>Fecha fin: </b> {{data.fechaFin}}
            </p>

            <p>
                <b>Periodo: </b>{{data.periodo}}
            </p>
        </div>

    </div>
</div>

<div class="espaciador mt-4"></div>
<div mat-dialog-actions align="end">
    <button class="btn btn-primary" (click)="confirmar()">Confirmar</button>

</div>