<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="trabajador-module/caracteristicas-anuales-trabajador/decimo-cuarto">
      <p-card header="Décimo cuarto" subheader="Calcular décimo cuarto"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/detalle-novedad-rol-pago/image-tipo.png" alt="card-novedad-tipo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="trabajador-module/caracteristicas-anuales-trabajador/decimo-tercero">
      <p-card header="Décimo tercero" subheader="Calcular décimo tercero"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/detalle-novedad-rol-pago/image-tipo.png" alt="card-novedad-tipo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="pagos2-module/calcular-utilidades">
      <p-card header="Calcular utilidades" subheader="Calcule las utilidades"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/detalle-novedad-rol-pago/image-tipo.png" alt="card-novedad-tipo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

</div>
