<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="rol-modulo">
      <p-card header="Roles" subheader="Gestione los roles" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/rol/imagen-principal.png" alt="card-roles" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="usuario-modulo">
      <p-card header="Usuarios" subheader="Gestione de usuarios"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/usuario/usuario.png" alt="card-usuario" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="modulo-lista-valores-detalle">
      <p-card header="Parámetros"
              subheader="Gestione de Parámetros"
              (click)="irAGestion('modulo-lista-valores-detalle')"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/lista-valores-detalle/parametros.png" alt="card-parametros" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="empresa-modulo">
      <p-card header="Empresa"
              subheader="Gestión de Empresa"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/empresa/imagen-principal.png" alt="card-parametros" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="banco-modulo">
      <p-card header="Banco"
              subheader="Gestión de Banco"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/banco/imagen-principal.png" alt="card-parametros" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="cuenta-banco-empresa-modulo">
      <p-card header="Cuentas Bancarias"
              subheader="Gestión de Cuenta bancaria"
              styleClass="p-card-shadow">

        <ng-template pTemplate="header">
          <img src="assets/cuenta-banco/imagen-principal.png" alt="card-parametros" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="configuracion-general-modulo">
      <p-card header="Configuración General"
              subheader="Gestión de Configuración general"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/configuracion-general/imagen.png" alt="card-parametros" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="cargo-modulo">
      <p-card header="Cargo"
              subheader="Gestión de Cargos"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/cargo/image.png" alt="card-cargo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="impuesto-renta-modulo">
      <p-card header="Impuesto a la renta"
              subheader="Gestión de Impuesto a la Renta"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/impuesto-renta/image.png" alt="card-impuesto-renta" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="region-modulo">
      <p-card header="Regiones"
              subheader="Gestión de Regiones"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/region/image.png" alt="card-region" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="recursos-modulo">
      <p-card header="Recursos" subheader="Gestione de recursos" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/recursos/image.png" alt="card-recursos" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
</div>
