<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="proveedor-modulo">
      <p-card header="Proveedor" subheader="Gestión de proveedores" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/proveedor/image.png" alt="card-proveedores" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="compras-modulo">
      <p-card header="Compras" subheader="Gestión de compras" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/compras/image.png" alt="card-compras" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
</div>
