<div class="card-mlab">

  <div class="row">
    <div class="col-sm-10">
      <app-form-container
        [fieldsArray]="searchBarFormFields"
        (fieldChanged)="searchFieldChanged($event)"
        (autoCompleteChangedEmitter)="searchAutoComplete($event)"
      ></app-form-container>
    </div>
    <div class="col-sm-2">
      <button
        type="button"
        class="btn btn-primary btn-sm float-end boton-busqueda"
        (click)="searchData()"
        [disabled]="searchButtonDisabled"
      >
        Buscar
      </button>
    </div>
  </div>
</div>
<div class="row">
  <br/>
</div>


<div class="row">
  <div class="col-sm-12">
    <p-table
      [value]="tableData"
      [dataKey]="'id'"
      [rows]="startingRows"
      [paginator]="true"
      [lazy]="true"
      (onLazyLoad)="lazyLoad($event)"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="rowsPerPage"
    >

      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="fw-bolder texto-titulo-tabla">Prestamo</span>
<!--          <button class="btn btn-sm btn-success float-end" (click)="createOrEdit()"> Crear</button>-->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th>Trabajador</th>
          <th>Fechas</th>
          <th>Préstamo</th>
          <th>Información</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-registro let-expanded="expanded">
        <tr
          [class]="registro.sisHabilitado === 'A' ? '' : 'back-deshabilitado'">
<!--          <td>-->
<!--            <button-->
<!--              type="button"-->
<!--              pButton-->
<!--              pRipple-->
<!--              [pRowToggler]="registro"-->
<!--              class="p-button-text p-button-rounded p-button-plain"-->
<!--              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"-->
<!--            ></button>-->
<!--          </td>-->

          <td>

           <p>
             <b>Nombres: </b>{{registro.idTrabajador?.idUsuario?.nombres}} {{registro.idTrabajador?.idUsuario?.apellidos}}
           </p>
           <p><b>Cédula: </b>{{registro.idTrabajador?.idUsuario?.documentoIdentidad}}</p>


          </td>
          <td>
            <!--            {{registro|json}}-->
            <p><b>Fecha préstamo: </b>{{registro.fechaPrestamo}}</p>
            <p><b>Fecha último pago: </b>{{registro.fechaPrestamo}}</p>
          </td>

          <td>
            <p><b>Valor: </b>{{registro.valor | currency}}</p>
            <p><b>Saldo: </b>{{registro.totalSaldo | currency}}</p>
            <p><b>Cuotas: </b>{{registro.cuotas}}</p>
          </td>
          <td>

            <p><b>Total pagado: </b>{{registro.totalPagado | currency }}</p>
            <p><b>Estado: </b>{{registro.estado|estadoPrestamo}}</p>
            <p><b>Interés: </b>{{registro.tasaInteres}}</p>
          </td>
          <td style="text-align: center">
            <button class="btn btn-primary" (click)="createPdf(registro)">Descargar PDF</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-registro>
        <tr>
          <!-- El colspan tiene que ser igual al numero de columnas-->
<!--          <td colspan="5">-->
<!--            <app-prestamo-perfil [registro]="registro"></app-prestamo-perfil>-->
<!--            <div class="mt-3"></div>-->
<!--            <app-abono-prestamo-tabla [idPrestamoInput]="registro.id"></app-abono-prestamo-tabla>-->
<!--          </td>-->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <!-- El colspan tiene que ser igual al numero de columnas-->
          <td colspan="5">No hay información.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
