<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="articulo-modulo">
      <p-card header="Artículo" subheader="Gestión de artículos"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/articulo/imagen-principal.png" alt="card-articulo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="orden-de-compra-modulo">
      <p-card header="Orden de compra" subheader="Gestión de órdenes de compra"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/orden-de-compra/imagen.png" alt="card-orden-de-compra" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

</div>


