<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="mt-2"></div>
<h2 class="text-center">Desistir contrato</h2>
<div class="mt-2"></div>
<p-accordion [multiple]="true">


  <mat-card class="mt-4 mb-4">
    <div mat-card-content>
      <div class=" ">
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="nombre">Cliente: </label>
            <input type="text" id="nombre" class="form-control"
                   value="{{modelCliente.nombres}} {{modelCliente.apellidos}}" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="modelo">Plan: </label>
            <input type="text" id="modelo" class="form-control" value="{{planContrato?.modelo }}" disabled>
          </div>
          <div class="col-3">
            <label class="form-label" for="precioInfo">Monto: </label>
            <input type="text" id="precioInfo" class="form-control" value="{{planContrato?.precio }}" disabled>
          </div>
          <div class="col-3">
            <label class="form-label" for="inscripcionInfo">Inscripción: </label>
            <input type="text" id="inscripcionInfo" class="form-control" value="{{planContrato?.inscripcion }}"
                   disabled>
          </div>

          <div class="col-3">
            <label class="form-label" for="plazoMaxInfo">Plazo: </label>
            <input class="form-control" type="text" id="plazoMaxInfo" value="{{contrato.plazoMesSeleccionado}}"
                   disabled>
          </div>

        </div>
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="plazoMax">Dscto. inscripción: </label>
            <input class="form-control" type="text" id="dsctoInscripcion"
                   value="{{contrato?.dsctoInscripcion?contrato?.dsctoInscripcion:0}}%"
                   disabled>
          </div>
          <div class="col-3">
            <label class="form-label" for="plazoMax">Dscto. primera cuota: </label>
            <input class="form-control" type="text" id="dsctoPrimeraCuota"
                   value="{{contrato?.dsctoPrimeraCuota?contrato?.dsctoPrimeraCuota:0}}%"
                   disabled>
          </div>
          <div class="col-3">
            <label class="form-label" for="plazoMax">Número contrato: </label>
            <input class="form-control" type="text" id="numeroContrato" value="{{contrato?.numeroDeContrato}}" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="form-label" for="observacion">Observación: </label>
            <input class="form-control" type="text" id="observacion"
                   value="{{contrato?.observacion?contrato.observacion:'Sin observación'}}" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label class="form-label" for="cuotasEnMora">Cuotas en mora: </label>
          <input class="form-control" type="text" id="cuotasEnMora"
                 value="{{(contrato|ultimoHistoricoContrato).totalCuotasMoraActual}}" disabled>
        </div>
        <div class="col-3">

          <label class="form-label" for="valorEnMora">Valor en mora: </label>
          <input class="form-control" type="text" id="valorEnMora"
                 value="${{contrato|totalMora}}"
                 disabled>

        </div>
      </div>

    </div>
  </mat-card>
  <p-accordionTab header="Plan">
    <div class="text-center">
      <button class="btn btn-primary" (click)="mostrarTablaPlan = true">Seleccionar plan</button>
    </div>
    <div>
      <app-plan-tabla *ngIf="mostrarTablaPlan" [vieneDesdeContrato]="true"
                      (seleccionoPlan)="mostrarPlanSeleccionado($event)"></app-plan-tabla>
    </div>


    <div *ngIf="!mostrarTablaPlan && planSeleccionado" class="row">
      <div class="col-4">
        <label class="form-label" for="plan">Plan: </label>
        <input type="text" id="plan" class="form-control" value="{{precioSeleccionado?.plan }}" disabled>
      </div>
      <div class="col-4">
        <label class="form-label" for="precio">Monto: </label>
        <input type="text" id="precio" class="form-control" value="{{precioSeleccionado?.precioSeleccionado }}"
               disabled>
      </div>
      <div class="col-4">
        <label class="form-label" for="inscripcion">Inscripción: </label>
        <input type="text" id="inscripcion" class="form-control" value="{{precioSeleccionado?.inscripcion }}" disabled>
      </div>

      <div class="col-4">
        <label class="form-label" for="plazoMax">Plazo Máximo: </label>
        <input class="form-control" type="text" id="plazoMax" value="{{precioSeleccionado?.plazoSeleccionado}}"
               disabled>
      </div>

    </div>


  </p-accordionTab>

  <p-accordionTab header="Contrato">
    <form [formGroup]="formContrato" (ngSubmit)="onSubmit(modelContrato)">
      <formly-form [form]="formContrato" [fields]="fieldsContrato" [model]="modelContrato"></formly-form>
      <!--      <button type="submit" class="btn btn-default">Submit</button>-->
    </form>


  </p-accordionTab>


  <p-accordionTab header="Cliente">
    <form [formGroup]="formCliente" (ngSubmit)="onSubmit(modelCliente)">
      <formly-form [form]="formCliente" [fields]="fieldsCliente" [model]="modelCliente"></formly-form>
      <!--      <button type="submit" class="btn btn-default">Submit</button>-->
    </form>
  </p-accordionTab>

  <p-accordionTab header="Vendedor">
    <div class="text-center">
      <button class="btn btn-primary" (click)="mostrarTablaVendedor = true" *ngIf="!mostrarTablaVendedor">Seleccionar
        vendedor
      </button>
    </div>

    <app-vendedor-tabla *ngIf="mostrarTablaVendedor" [vieneDesdeContrato]="true"
                        (seleccionoVendedor)="mostrarVendedorSeleccionado($event)"></app-vendedor-tabla>

    <form [formGroup]="formVendedor" (ngSubmit)="onSubmit(modelVendedor)">
      <formly-form [form]="formVendedor" [fields]="fieldsVendedor" [model]="modelVendedor"></formly-form>

      <!--      <button type="submit" class="btn btn-default">Submit</button>-->
    </form>
  </p-accordionTab>

  <p-accordionTab header="Cuotas">
    <!--    <app-cuota-tabla></app-cuota-tabla>-->
    <app-cuotas-view-table></app-cuotas-view-table>
  </p-accordionTab>


</p-accordion>
<button type="button" class="btn btn-primary float-end m-3" [disabled]="deshabilitarSubmit()" (click)="submitForm()">
  Aceptar
</button>
<button type="button" class="btn btn-danger float-end m-3" (click)="cancelarCrearContrato()">Cancelar</button>

<div class="container">


</div>
