<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="cuenta-contable-modulo/balance-resultados">
      <p-card header="Resultados" subheader="Estado de resultados"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/detalle-novedad-rol-pago/image-tipo.png" alt="card-resultados" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="cuenta-contable-modulo/balance-comprobacion">
      <p-card header="Balance comprobación" subheader="Reporte de balance de promprobación"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/detalle-novedad-rol-pago/image-tipo.png" alt="card-resultados" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
</div>
