<div class="row">
  <div class="col-4 cards-menu">
    <a routerLink="prestamo-modulo/prestamo-gestion">
      <p-card header="Préstamos" subheader="Gestión de préstamos"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/prestamo/imagen.png" alt="card-prestamo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
  <div class="col-4 cards-menu">
    <a routerLink="prestamo-modulo/solicitud-prestamo">
      <p-card header="Solicitud préstamos" subheader="Solicitud de préstamos"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/prestamo/imagen.png" alt="card-solicitud-prestamo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>

  <div class="col-4 cards-menu">
    <a routerLink="prestamo-modulo/consultar-estado-cuenta">
      <p-card header="Consultar estados de cuenta" subheader="Consulte los estados de cuenta"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/prestamo/consultar-estado-cuenta.png" alt="card-solicitud-prestamo" class="imagen-card">
        </ng-template>
      </p-card>
    </a>
  </div>
</div>
